#!/bin/bash

export AWS_CALLING_FORMAT=SUBDOMAIN
export AWS_ACCESS_KEY_ID=
export AWS_SECRET_ACCESS_KEY=

git pull origin master
s3sync.rb --verbose --progress --public-read --recursive --delete public/ meloman.flatsoft.com:/
