h1,h2,h3,h4{font-weight:normal;padding:0;margin:0;text-shadow:0 -1px 0 #1d1a20;}
h1{font-size:40px;}
h2{font-size:30px;}
h1,h2{color:#e1b8f3;font-family:'Lobster',cursive;}
h3{color:#86c2ff;font-family:'Lobster',cursive;font-size:30px;padding-bottom:50px;}
h4{font-family:'Lobster',cursive;font-size:22px;line-height:28px;padding-bottom:20px;padding-top:17px;}
p{font-family:'PT Sans Narrow',Helvetica,Arial;font-size:18px;}
body{background:url('../img/glows.jpg') top center no-repeat #0c0d0f;text-align:center;}
#container{background:url('../img/stripe.png');}
header{background:url('../img/shapes.png') top center no-repeat;border-bottom:1px solid #2a2a31;padding-top:108px;height:720px;}header h3{font-size:28px;margin:0;padding:0;}
header nav a{float:left;display:block;}
header nav a:hover{opacity:0.7;-moz-opacity:0.7;filter:alpha(opacity=70);}
header img.logo{margin:98px 0 8px;}
header h1{padding:45px 0 65px;line-height:44px;}header h1 a{text-decoration:none;color:#d7d7d7;background:url('../img/dots.gif') bottom right repeat-x;line-height:48px;}
header h1 a:hover,header h1 a:visited{text-decoration:none;color:#d7d7d7;}
header h1.video-link{margin:0 0 0 48px;padding:0;display:block;float:left;position:relative;text-shadow:none;}header h1.video-link img{position:absolute;right:-20px;bottom:10px;}
.steps{border-top:1px dotted #61516b;padding-top:50px;margin-top:60px;}.steps li{width:475px;float:left;margin-bottom:50px;}.steps li p{font-size:17px;margin-bottom:38px;padding:0;line-height:22px;}
.steps li img{float:left;margin:0 25px 0 0;}
.steps li img.star{float:none;vertical-align:middle;margin:0;}
.steps li p,.steps li h3{margin-right:38px;}
.demo{float:left;margin-right:38px;width:285px;}.demo h2{line-height:32px;}
#video{width:620px;float:left;}
.wrap{width:950px;margin:auto;text-align:left;}
#main{padding-top:50px;background:url('../img/content_bg.png');}
.iphone{background:url('../img/iphone.png') 0 0 no-repeat;width:274px;height:599px;float:left;margin-right:118px;position:relative;}.iphone .label{position:absolute;background:url('../img/label_free.png') 0 0 no-repeat;width:118px;height:118px;z-index:18;right:-52px;top:8px;}
.iphone .reflection{background:url('../img/reflection.png') top right no-repeat;z-index:9;}
.iphone .slides li{float:left;width:233px;height:334px;}.iphone .slides li img{width:233px;height:334px;}
.iphone .slides .carousel-control{display:none;}
.iphone .reflection,.iphone .slides{position:absolute;overflow:hidden;width:233px;height:334px;top:106px;right:19px;}
footer{text-align:left;padding-bottom:20px;}
